<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<base href="/static/shopadmin/" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 商品分类 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="/index.php/shopadmin/cat/cat_add">添加分类</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品分类 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start ad position list -->
	<div class="list-div" id="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
			<tbody>
				<tr>
					<th>分类名称</th>
					<th>是否显示</th>
					<th>操作</th>
				</tr>
    {volist name="data" id="v"} 
				<tr align="center" class="0" id="0_1">
					<td align="left" class="first-cell">
						<span><a href="goods.php?act=list&amp;cat_id=1">{$v.catename}</a></span>
					 </td>
		           	{if condition="$v.status eq 1">}
		              <td align="center"><img src="images/yes.gif" onclick=""></td>
		              {else /}
		              <td align="center"><img src="images/no.gif" onclick=""></td>
		            {/if}
					<td width="24%" align="center">
			            <a href="{:url('Cat/up')}?id={$v.cate_id}">编辑</a> |
			            <a href="{:url('Cat/del')}?id={$v.cate_id}">移除</a>
					</td>
				</tr>
	      	{volist name="$v.child" id="vs"} 
	           <tr align="center" class="0" id="0_1">
					<td align="left" class="first-cell">
						<span><a href="goods.php?act=list&amp;cat_id=1">--{$vs.catename}</a></span>
					 </td>
            	{if condition="$vs.status eq 1">}
              		<td align="center"><img src="images/yes.gif" onclick=""></td>
              	{else /}
              		<td align="center"><img src="images/no.gif" onclick=""></td>
            	{/if}
					<td width="24%" align="center">
            			<a href="{:url('Cat/up')}?id={$vs.cate_id}">编辑</a> |
            			<a href="{:url('Cat/del')}?id={$vs.cate_id}">移除</a>
					</td>
				</tr>
	        {/volist}
    {/volist}
  	<!--  end这些代码是显示使用，没有格式化 开发时可删除-->
	</tbody>
  </table>
</div>
</form>

  </table>
</div>
</form>


<div id="footer">
	版权所有 &copy; 2006-2013 软工教育 - 高级PHP - </div>
</div>

</body>
</html>